@font-face {
    font-family: 'CoolFont';
    src: url(fonts/CoolFont.ttf) format('truetype');

}

@font-face {
    font-family: "Ormlou";
    src: url(fonts/Ormolu.ttf) format('truetype');
}

body {
    font-family: 'CoolFont', sans-serif;
    background-color : rgb(251, 250, 250);
    
}

div.Roles {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    width: 250px;
    
}

div.Roles h3 {
    text-align: center;
    color: rgb(0, 0, 0);
}

h1.Title {
    text-align: center;
    font-family: 'Ormlou', sans-serif;
    
}

div.Topic {
    border: 2px solid black;
    border-radius: 15px;
}

div.Roles,
div.Topic {
    margin: 20px auto;
    
    
}

button {
    background:rgb(255, 255, 255);
    padding:  10px 20px;
    font-family: "CoolFont";
    border-radius: 12px;
    cursor: pointer;
    
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color:rgb(217, 217, 217);
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}